@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #93B5C6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h3 {
  margin-top: 5px;
}

h4 {
  margin: 4px;
}


.people-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


/* Displays the content for each person on the home page */
.card {
  float: left;
  background-color: white;
  margin: 2%;
  padding: 4%;
  padding-top: 22px;
  border-radius: 8px;
  max-width: 300px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}


.profile-image-home {
  height: 140px;
  width: 160px;
  padding-bottom: 10px;
}

.profile-image {
  max-height: 200px;
  padding-bottom: 20px;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto; 
  padding-top: 20px;
}

.chore-form-container {
  float: left;
  padding: 25px;
  margin-right: 40px;
  background-color: #C9CCD5;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
}

.person-form-container {
  float: left;
  padding: 25px;
  background-color: #C9CCD5;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
  
}

.chores-container {
  float: left;
  margin-top: 30px;
  background-color:white;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.chore-listing {
  padding-bottom: 15px;
  
}

.delete-chore-button {
  max-height: 22px;
  color: #F04520;
  background-color: #f8d8df;
  border-radius: 8px;
  
  
}

.profile-chore-listing {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  background-color: #ffffff;
}

input {
  margin: 2px;
  background-color: #f4f6f7;
}

form div {
  padding: 4px;
}

.form-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  background: #FFE3E3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.form-button:hover {
  background: #93B5C6;
  text-decoration: none;
}

.chores-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  background: #93B5C6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.chores-button:hover {
  background: #FFE3E3;
  text-decoration: none;
}


  


.delete-person-button {
  float: right;
  background-color: #f8d8df;
  border-radius: 8px;
}


.select-chore-dropdown {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;

}


.submit {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-weight: bold;
    color: 000000;
    background: #FFE3E3;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .submit:hover {
    background: #7696a7;
    text-decoration: none;
  
}

.logout-button {
  margin-left: 300px;
  -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-weight: bold;
    color: 000000;
    background: #FFE3E3;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.logout-button:hover {
  background: #7696a7;
  text-decoration: none;

}